.wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.table .th{
    background: darkcyan;
    color: #fffff0;
}
.table .td{
    background: #f3f3e3;
    color: darkcyan;
}
.table .th, .table .td{
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    min-width: 70px;
    padding: 3px;
}

.table .td input{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding: 3px;
    background: #ffffff;
    color: darkcyan;
    border-radius: 3px;
    transition: 200ms ease-in-out;
}

.table .td input:focus{
    background: rgb(2, 151, 144);
    color: white;
}

.total{
    background: yellowgreen;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    min-width: 70px;
    padding: 3px;
}
.name{
    min-width: 90px;
    background: #f3f3e3;
    color: darkcyan;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}